.intro {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    height: 100vh; 
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}
.title_bar{
    font-size: xx-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}